
figure {
	/*width: 20%;*/
	/*float: left;*/
}

img {
	width: 250px;
  
}


figcaption {
	text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 2.25em;
  display: flex;
  justify-content: center;
  margin-top: 30px;

}

body {
	background-color: #d0bfe5;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #d0bfe5, #bad0fd); /*https://www.w3schools.com/css/css3_gradients.asp*/
  overflow: hidden;
  /*margin: 0;*/
  margin: auto;

}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	font-size:3.5em;
	text-align: center;
  text-transform: capitalize;
  margin-top: 25px;
}
h2{
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: lighter;
  /*text-align: center;*/
  position:relative;
  top: -10px;
  text-align: center;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 1em;
  margin-top: 20px;
}

body {
  padding: 20px;
}
#button {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/
}
#button:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

#button2 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
   border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/
}
#button2:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

#button3 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
   border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/
}
#button3:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/

  

}


#button4 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/

}
#button4:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  
}

/*#button4:active {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  
}*/

#button5 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/

}
#button5:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  
}

#button6 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/
}
#button6:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

} 

#button7 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/
}
#button7:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

#button8 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 20px;*/
}
#button8:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

#button9 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 30px;*/
}
#button9:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

#button10 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 30px;*/
}
#button10:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

#button11 {
  margin-top: 20px;
  padding: 8px 16px;
  /*background: #626696;
  border: none;
  color: white;*/
  color: white;
  border-radius: 4px;
  background-color: transparent;
  border: 2px solid white;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  /*top: 30px;*/
}
#button11:hover {
  background-color: #626696;
  border: 2px solid #626696;
  color: white;
  /*transition: 0.4s;*/
  

}

.grid-parent{
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  /*grid-template-columns: repeat(13, 1fr);*/
  margin:auto;

}

/*.grid-item1{
  grid-column: 2;
}

.grid-item2{
  grid-column: 3;
}

.grid-item3{
  grid-column: 4;
}
.grid-item4{
  grid-column: 5;
}
.grid-item5{
  grid-column: 6;
}
.grid-item6{
  grid-column: 7;
}
.grid-item7{
  grid-column: 8;
}
.grid-item8{
  grid-column: 9;
}
.grid-item9{
  grid-column: 10;
}
.grid-item10{
  grid-column: 11;
}
.grid-item11{
  grid-column: 12;
}*/

/*.grid-item5{
  grid-column: 1 / span 5;
}
.grid-item6{
  grid-column: 1 / span 5;
}*/

.grid-item12{
  /*grid-column: 1 / span 13;*/
  text-align: center;
}

#season-one{
  color: white;
  position: relative;
  top: 50px;
  grid-column: 4 / span 3;
  /*list-style-type: none;*/
}

/*ul li {
  list-style-type: none;
}*/




